header{
    width: 100%;
    height: 100vh;
}
.html{
    scroll-behavior: smooth;
}
nav{
    width: auto;
    height: auto;
    border-bottom: 1px solid rgb(232, 220, 220);
    box-shadow: 2px 0px 5px rgb(248, 189, 189);
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.logo{
    font-size: 50px;
    font-weight: bold;
}
.menu a{
    text-decoration: none;
    font-size: 20px;
    color: rgb(16, 16, 16);
    padding: 10px 20px;
    margin: 10px;
    font-weight: bold;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    transform-style: preserve-3d;
    transform-origin: center;
    perspective: 2000px;
}
.left{
    flex-basis: 40%;
    animation: animate 3s linear infinite;
}
.img1{
    margin-bottom: 10px;
    margin-top: 50px;
}
.right{
    flex-basis: 50%;
}
.footer1{
	width: auto;
    display: block;
    justify-content: space-around;
    align-items: center;
    background: black;
    color: white;
    padding: 10px;
}
*{
	margin: 0;
	padding: 0;
	text-decoration: none;
	list-style: none;
	box-sizing: border-box;
}
body{
	font-family: montserrat;
}
nav{
	background: palevioletred;
	height: auto;
	width: auto;
}
label.logo{
	color: white;
	font-size: 35px;
	line-height: 80px;
	padding: 0 100px;
	font-weight: bold;
}
nav ul{
	float: right;
	margin-right: 20px;
}
nav ul li{
	display: inline-block;
	line-height: 80px;
	margin: 0 5px;
}
nav ul li a{
	color: rgb(17, 17, 17);
	font-size: 19px;
}