.product-card{
    width: 200px;
    height:400px;
    border: 3px solid rgb(16, 15, 15);
    border-radius: 20px;
    box-shadow: 8px 8px 20px black;
}
.product-card:hover{
    box-shadow: 0px 0px 20px black;
}
.product-card1{
    border: 5px solid rgb(16, 15, 15);
    border-radius: 20px;
}
.product-card1:hover{
    box-shadow: 0px 0px 20px black;
}
.image2{
    border-radius: 15px;
}
p{
    text-align: center;
    padding: 1px;
}
.V{
    background-color: palevioletred;
    font-size: 50px;
    font-weight: bold;
}
.product-img{
    width: 20%;
    border-left: 10px 10px 0 0;
    border-radius: 3px;
}
.product-title{
    font-size: 20px;
    margin-left: 10px;
    padding: 4px;
    margin: 3px;
}
.btn-buy-now{
    margin: 20px;
    margin-left: 40px;
    padding: 8px 20px;
    background-color: black;
    color: white;
    border: none;
    
    border-radius: 20px;
    margin-bottom: 20px;
}
.btn-buy-now:hover{
    background-color: #99084c;
}
.container{
    display: flex;
    margin: 10px;
    justify-content: space-around;
}
.container1{
    margin: 10px;
    padding: 20px;
    background-color: white;
}
.container2{  
    margin: 10px;
    padding: 20px;
    background-color: white;
}
.container3{  
    margin: 10px;
    padding: 20px;
    background-color: white;
}
.container4{ 
    margin: 10px;
    padding: 20px;
    background-color: white;
}
.container5{ 
    margin: 10px;
    padding: 20px;
    background-color: white;
}
