.product-card{
    width: 200px;
    height: 300px;
    border: 4px solid rgb(16, 15, 15);
    border-radius: 10px;
}
.product-img{
    width: 20%;
    border-left: 10px 10px 0 0;
    border-radius: 3px;
}
.product-title{
    font-size: 20px;
    margin-left: 10px;
    padding: 4px;
    margin: 3px;
}
.btn-buy-now{
    margin: 20px;
    margin-left: 40px;
    padding: 8px 20px;
    background-color: black;
    color: white;
    border: none;
    
    border-radius: 20px;
    margin-bottom: 20px;
}
.btn-buy-now:hover{
    background-color: #99084c;
}
.container{
    display: flex;
    margin: 10px;

}
.container1{
    margin: 10px;
    padding: 20px;
}
.container2{  
    margin: 10px;
    padding: 20px;

}
.container3{  
    margin: 10px;
    padding: 20px;

}
.container4{ 
    margin: 10px;
    padding: 20px;

}
.container5{ 
    margin: 10px;
    padding: 20px;
}